/**
 * @file
 * Themeing for the cross management forms
 */

.cross-parents.add-more {
  float: right;
}

/**
 * Plan Crosses: Parents Form
 */

table#cross_manage_crossingblock_parents_form tr.error-row td {
  background-color: #FEEBEB;
}

/* -- Clear all borders */
table#cross_manage_crossingblock_parents_form tr th, table#cross_manage_crossingblock_parents_form tr td {
  border-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

/* -- Differentiate category header (ie: maternal/paternal parent ) */
table tr th.header-category{
  background-color: #1F2A37;
}

/* -- Set column widths */
th.pnum, td.pnum {
  width: 60px;
}
th.line, td.line {
  width: 150px;
}
th.source, td.source {
  width: 150px;
}
th.cross_to, td.cross_to {
  max-width: 350px;
}

/* -- Add in right borders between maternal/paternal/notes */
/** Dark Header: #1F2A37; Medium Gray: #646C76; */
table#cross_manage_crossingblock_parents_form  tr th.header-category,
  table#cross_manage_crossingblock_parents_form  tr th.source,
  table#cross_manage_crossingblock_parents_form  tr th.cross_to {

    border-right: 1px solid #4C535C;
}
table#cross_manage_crossingblock_parents_form  tr td.source,
  table#cross_manage_crossingblock_parents_form  tr td.cross_to {

    border-right: 1px solid #EFEFEF;
}

/* -- Add in table border. */
table#cross_manage_crossingblock_parents_form  tr td.pnum {
  border-left: 1px solid #314355;
}
table#cross_manage_crossingblock_parents_form  tr th.notes,
  table#cross_manage_crossingblock_parents_form  tr td.notes {
  border-right: 1px solid #314355;
}
table#cross_manage_crossingblock_parents_form  tr.last td {
  border-bottom: 1px solid #314355;
}

/** Highlighting of rows  */
tr.cross-parents-row.Small-Red td, .highlight-key.Small-Red {
  background-color: #D4EAFF;
  /*border-bottom: 1px solid #D4EAFF;*/
}
tr.cross-parents-row.French-Green td, .highlight-key.French-Green {
  background-color: #E1F8DA;
  /*border-bottom: 1px solid #E1F8DA;*/
}

.cross-parents.highlight {
  width: 40%;
  float: left;
}

/* Form Elements */
td.pnum .form-item, td.pnum .pre-label {
  line-height: 35px;
  float: left;
  padding-right: 2px;
}
td.line .form-item {
  padding-top: 15px;
}
td.marker_data img {
  width: 15px;
  height: 15px;
  border: none;
  float: right;
}
td.cross_to .form-item.form-type-select {
  float: left;
}

/**
 * Workflow Diagram
 */
.workflow-diagram a:link, .workflow-diagram a:visited {
  color: #128324;
}

.workflow-diagram table th, .workflow-diagram table td {
  width: 50%;
  vertical-align:text-top;
}
